.content-aside {
    background-color: #eee;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.img-small {
    height: 15px;
}

.footer {
  font-size: 80%;
  text-align: left;
  color: #999;
}
