.content-aside {
    background-color: #eee;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.img-small {
    height: 15px;
}

.footer {
  font-size: 80%;
  text-align: left;
  color: #999;
}

.headerlink {
  color: lightgray;
  font-size: small;
}

.image-left {
    float: left;
    padding-right: 12px;
}

.image-right {
    float: right;
    padding-left: 12px;
}
